/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }

  body {
    margin: 15px;
    padding: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #e8dcca;
    background: #8b6c5c;
  }

  .intro {
    background-image: url ("profile picture.jpg");
  }


  



